:root {
  --theme-fs-primary: 12px;
  --theme-fs-lg: 23px;
  --theme-white: #fff;
  --theme-paper-white: #f7f7f7;
  --theme-black: #000;
  --theme-red: #ff0000;
  --theme-blue: #428bca;
  --theme-green: #45b25d;
  --theme-gray: rgba(0, 0, 0, 0.5);
  --theme-border-accent: #bbb;
  --theme-drop-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  --theme-card-radius: 14px;
}

.bg-green {
  background: var(--theme-green);
}

.bg-blue {
  background: var(--theme-blue);
}

.text-red {
  color: var(--theme-red);
}

.text-black {
  color: var(--theme-black);
}

.text-gray {
  color: var(--theme-gray);
}

.text-white {
  color: var(--theme-white);
}

.text-lg {
  font-size: var(--theme-fs-lg);
}

.text-sm {
  font-size: var(--theme-fs-primary);
}

.text-weight-700 {
  font-weight: 700;
}

.text-weight-900 {
  font-weight: 900;
}
